section.category {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  background: -webkit-gradient(linear, left top, right top, from(#fbfbfd), to(#f5f5f7));
  background: linear-gradient(90deg, #fbfbfd 0%, #f5f5f7 100%);
}
section.category div.container {
  display: grid;
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
section.category div.text {
  display: grid;
  grid-gap: var(--big-gap);
}
section.category div.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gap);
}
@media (max-width: 960px) {
  section.category div.list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  section.category div.list {
    grid-template-columns: 1fr;
  }
}

section.callback {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
}
section.callback div.container {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--big-gap);
  grid-column: breakout;
}
@media (max-width: 640px) {
  section.callback div.container {
    grid-template-columns: 1fr;
  }
}
section.callback div.form {
  display: grid;
  grid-gap: var(--big-gap);
}
section.callback div.form div.text {
  display: grid;
  grid-gap: var(--medium-gap);
}
section.callback div.form div.inputs {
  display: grid;
  grid-gap: var(--gap);
}
section.callback div.form div.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
}
@media (max-width: 1280px) {
  section.callback div.form div.row {
    grid-template-columns: 1fr;
  }
}
section.callback div.form form {
  display: grid;
  grid-gap: var(--big-gap);
}
section.callback div.form small a {
  font-size: inherit;
  font-weight: inherit;
  color: #242629;
  text-decoration: underline;
}
section.callback div.form small a:hover {
  text-decoration: none;
}
section.callback div.image {
  position: relative;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 100%;
  width: 100%;
}
section.callback div.image div.wrap {
  position: relative;
}
section.callback div.image img.phone {
  position: relative;
  bottom: calc(var(--section-gap) * -1);
  left: 0;
  width: 100%;
  aspect-ratio: 1462/1876;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left bottom;
     object-position: left bottom;
}
@media (max-width: 1280px) {
  section.callback div.image img.phone {
    height: 100%;
    height: 720px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 640px) {
  section.callback div.image img.phone {
    height: calc(100% + var(--section-gap));
    left: 10%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center bottom;
       object-position: center bottom;
  }
}
section.callback div.image svg {
  position: absolute;
  width: 15%;
  top: 50%;
  left: 37.5%;
  -webkit-transform: translate(-50%, -20%) rotate(-1deg);
      -ms-transform: translate(-50%, -20%) rotate(-1deg);
          transform: translate(-50%, -20%) rotate(-1deg);
}
@media (max-width: 1280px) {
  section.callback div.image svg {
    top: 50%;
    left: 210px;
    width: 80px;
  }
}
@media (max-width: 640px) {
  section.callback div.image svg {
    top: 60vw;
    left: 47.5%;
    width: 15%;
    -webkit-transform: translate(-50%, -50%) rotate(-1deg);
        -ms-transform: translate(-50%, -50%) rotate(-1deg);
            transform: translate(-50%, -50%) rotate(-1deg);
  }
}
section.callback div.image.animate svg path {
  fill: rgba(36, 38, 41, 0);
  -webkit-animation: logotype 100ms forwards ease-out;
          animation: logotype 100ms forwards ease-out;
}
section.callback div.image.animate svg path:nth-child(1) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}
section.callback div.image.animate svg path:nth-child(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
section.callback div.image.animate svg path:nth-child(3) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
section.callback div.image.animate svg path:nth-child(4) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
section.callback div.image.animate svg path:nth-child(5) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
section.callback div.image.animate svg path:nth-child(6) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
section.callback div.image.animate svg path:nth-child(7) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}
section.callback div.image.animate svg path:nth-child(8) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
section.callback div.image.animate svg path:nth-child(9) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
section.callback div.image.animate svg path:nth-child(10) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
section.callback div.image.animate svg path:nth-child(11) {
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
}
section.callback div.image.animate svg path:nth-child(12) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
section.callback div.image.animate svg path:nth-child(13) {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}
section.callback div.image.animate svg path:nth-child(14) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
section.callback div.image.animate svg path:nth-child(15) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
section.callback div.image.animate svg path:nth-child(16) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
section.callback div.image.animate svg path:nth-child(17) {
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
}
section.callback div.image.animate svg path:nth-child(18) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
section.callback div.image.animate svg path:nth-child(19) {
  -webkit-animation-delay: 950ms;
          animation-delay: 950ms;
}
section.callback div.image.animate svg path:nth-child(20) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
section.callback div.image.animate svg path:nth-child(21) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}
section.callback div.image.animate svg path:nth-child(22) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
section.callback div.image.animate svg path:nth-child(23) {
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}
section.callback div.image.animate svg path:nth-child(24) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
section.callback div.image.animate svg path:nth-child(25) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
section.callback div.image.animate svg path:nth-child(26) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}
section.callback div.image.animate svg path:nth-child(27) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}
section.callback div.image.animate svg path:nth-child(28) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
section.callback div.image.animate svg path:nth-child(29) {
  -webkit-animation-delay: 1450ms;
          animation-delay: 1450ms;
}
section.callback div.image.animate svg path:nth-child(30) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
section.callback div.image.animate svg path:nth-child(31) {
  -webkit-animation-delay: 1550ms;
          animation-delay: 1550ms;
}
section.callback div.image.animate svg path:nth-child(32) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
section.callback div.image.animate svg path:nth-child(33) {
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
}
section.callback div.image.animate svg path:nth-child(34) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}
section.callback div.image.animate svg path:nth-child(35) {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}
section.callback div.image.animate svg path:nth-child(36) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
section.callback div.image.animate svg path:nth-child(37) {
  -webkit-animation-delay: 1850ms;
          animation-delay: 1850ms;
}
section.callback div.image.animate svg path:nth-child(38) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}
section.callback div.image.animate svg path:nth-child(39) {
  -webkit-animation-delay: 1950ms;
          animation-delay: 1950ms;
}
section.callback div.image.animate svg path:nth-child(40) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
section.callback div.image.animate svg path:nth-child(41) {
  -webkit-animation-delay: 2050ms;
          animation-delay: 2050ms;
}
section.callback div.image.animate svg path:nth-child(42) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}
section.callback div.image.animate svg path:nth-child(43) {
  -webkit-animation-delay: 2150ms;
          animation-delay: 2150ms;
}
section.callback div.image.animate svg path:nth-child(44) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}
section.callback div.image.animate svg path:nth-child(45) {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
section.callback div.image.animate svg path:nth-child(46) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
}
section.callback div.image.animate svg path:nth-child(47) {
  -webkit-animation-delay: 2350ms;
          animation-delay: 2350ms;
}
section.callback div.image.animate svg path:nth-child(48) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
section.callback div.image.animate svg path:nth-child(49) {
  -webkit-animation-delay: 2450ms;
          animation-delay: 2450ms;
}
section.callback div.image.animate svg path:nth-child(50) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

@-webkit-keyframes logotype {
  0% {
    fill: rgba(36, 38, 41, 0);
  }
  100% {
    fill: rgb(36, 38, 41);
  }
}

@keyframes logotype {
  0% {
    fill: rgba(36, 38, 41, 0);
  }
  100% {
    fill: rgb(36, 38, 41);
  }
}/*# sourceMappingURL=category.css.map */