section.about
    div.container

        div.text.observe.showTopBlock
            h2 О компании.
            span.observe.aft Компания Кластер #[b создает и устанавливает] систему Умного дома Кластер "под ключ" от проектирования и производства, #[b до монтажа и адаптации сценариев].

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    img(src="images/12.webp", alt="")
                    h3 Оборудование
                    span Мы #[b являемся производителем], все оборудование #[b произведено в России] у наших партнеров по высочайшим стандартам.
                div.swiper-slide
                    img(src="images/13.webp", alt="")
                    h3 Приложение
                    span #[b Высококвалифицированные программисты] постоянно модернизируют ПО. #[b Мы не используем сторонний софт], это позволяет оперативно дорабатывать приложения для Вашего удобства
                div.swiper-slide
                    img(src="images/12.webp", alt="")
                    h3 Инсталляция
                    span Наши обученные, квалифицированные инженеры #[b установят и настроят систему умного дома] в кратчайшие сроки
                div.swiper-slide
                    img(src="images/13.webp", alt="")
                    h3 Гарантия
                    span Являясь и #[b производителем оборудования] и #[b одновременно разработчиком] системы умного дома только мы даем беспрецедентно #[b высокую гарантию на рынке - 5 лет]
                div.swiper-slide
                    img(src="images/12.webp", alt="")
                    h3 Поддержка
                    span Мы ценим наших клиентов, поэтому осуществляем #[b полную поддержку по всем вопросам], даже не связанным с системой умного дома

        div.swiper-control.dark
            div.swiper-pagination
            div.swiper-navigation
                div.arrow: include ../../../images/arrow.svg
                div.arrow: include ../../../images/arrow.svg