section.managment
    div.container
        h2 Управление #[br]#[span умным домом.]

        div.list
            div.item
                div.image.observe.afl
                    img(src="images/24.webp", alt="")
                div.text
                    strong Классика
                    span Подойдут любые #[b стандартные розетки] и #[b выключатели] любых марок
            div.item
                div.empty
                div.text
                    strong Приложение
                    span #[b Управление со смартфона] происходит через приложение
                    div.apps
                        a(href="https://apps.apple.com/us/app/id1528305720", target="blank"): img(src="images/googleplay.svg", alt="") 
                        a(href="https://play.google.com/store/apps/details?id=ru.clustersystem.Cluster25", target="blank"): img(src="images/appstore.svg", alt="")
                div.image.observe.afr
                    img(src="images/25.webp", alt="")
            div.item
                div.image.observe.afl
                    img(src="images/26.webp", alt="")
                div.text
                    strong Привет, Алиса!
                    span Используй голосовые #[b помошники Алиса] и #[b Siri] для управления
                    div.voices
                        img(src="images/alisa.webp", alt="")
                        div.siri
                            //- img(src="images/siri.webp", alt="")
            div.item
                div.empty
                div.text
                    strong Без ограничений
                    span #[b Автоматичекие сценарии] для того, чтобы не думать об умном доме
                div.image.observe.afr
                    img(src="images/27.webp", alt="")