section.services
    div.container
        h2 Возможности #[br]#[span умного дома.]

        div.grid
            a(href="service.html").service
                div.description
                    div.image
                        img(src="images/2.webp", alt="")
                    div.text
                        h3 Освещение
                        span Умный дом создаст для вас #[b комфортное настроение] в любое время суток.
                    div.more
                        small Подробнее
                        div.arrow: include ../../../images/arrow.svg
                div.list
                    div.item#service_1
                        include ../../../images/svg/30.svg
                        small Управление #[br]яркостью
                    div.item#service_2
                        include ../../../images/svg/32.svg
                        small Любые источники освещения
                    div.item#service_3
                        include ../../../images/svg/31.svg
                        small Световые #[br]сценарии
                    div.item#service_4
                        include ../../../images/svg/29.svg
                        small Управление с обычных выключателей
                    div.item#service_5
                        include ../../../images/svg/28.svg
                        small Управление цветом и теплотой освещения
                    div.item#service_6
                        include ../../../images/svg/27.svg
                        small Автоматическое освещение по датчикам
            a(href="service.html").service
                div.description
                    div.image
                        img(src="images/3.webp", alt="")
                    div.text
                        h3 Климатконтроль
                        span Умный дом поддерживает индивидуальные параметры по #[b микроклимату] в каждом помещении – #[b температура, влажность, СО2]
                    div.more
                        small Подробнее
                        div.arrow: include ../../../images/arrow.svg
                div.list
                    div.item#service7
                        include ../../../images/svg/21.svg
                        small Управление системой отопления
                    div.item#service8
                        include ../../../images/svg/22.svg
                        small Управление теплыми полами
                    div.item#service9
                        include ../../../images/svg/20.svg
                        small Управление кондиционерами и вентиляцией
                    div.item#service10
                        include ../../../images/svg/23.svg
                        small Управление системой увлажнения
                    div.item#service11
                        include ../../../images/svg/19.svg
                        small Управление климатом в загородном доме
            a(href="service.html").service
                div.description
                    div.image
                        img(src="images/4.webp", alt="")
                    div.text
                        h3 Устройства
                        span Система позволяет #[b интегрировать различные устройства] в общий контур умного дома, задействовать эти устройства #[b в общих сценариях, правилах и будильниках.]
                    div.more
                        small Подробнее
                        div.arrow: include ../../../images/arrow.svg
                div.list
                    div.item#service12
                        include ../../../images/svg/11.svg
                        small Управление шторами и жалюзи
                    div.item#service13
                        include ../../../images/svg/12.svg
                        small Управление воротами и замками
                    div.item#service14
                        include ../../../images/svg/13.svg
                        small Умные #[br]розетки
                    div.item#service15
                        include ../../../images/svg/14.svg
                        small Управление беспроводными устройствами
                    div.item#service16
                        include ../../../images/svg/15.svg
                        small Управление по ИК
                    div.item#service17
                        include ../../../images/svg/16.svg
                        small Управление вытяжками
            a(href="service.html").service
                div.description
                    div.image
                        img(src="images/5.webp", alt="")
                    div.text
                        h3 Безопасность
                        span Умный дом #[b следит за работой инженерных систем], реагирует на нештатные ситуации и #[b оперативно уведомляет хозяев.]
                    div.more
                        small Подробнее
                        div.arrow: include ../../../images/arrow.svg
                div.list
                    div.item#service18
                        include ../../../images/svg/17.svg
                        small Защита от протечек
                    div.item#service19
                        include ../../../images/svg/25.svg
                        small Охрана и датчики безопасности
                    div.item#service20
                        include ../../../images/svg/26.svg
                        small Видео­наблюдение
                    div.item#service21
                        include ../../../images/svg/24.svg
                        small Уведомление о нештатных ситуациях
                    div.item#service22
                        include ../../../images/svg/18.svg
                        small Контроль доступа
            a(href="service.html").service
                div.description
                    div.image
                        img(src="images/6.webp", alt="")
                    div.text
                        h3 Мультимедиа
                        span Умный дом позволяет #[b наслаждаться] Вашей любимой #[b музыкой] и #[b управлять] ей #[b из единого центра] умного дома
                    div.more
                        small Подробнее
                        div.arrow: include ../../../images/arrow.svg
                div.list
                    div.item#service23
                        include ../../../images/svg/8.svg
                        small Управление встроенной акустикой
                    div.item#service24
                        include ../../../images/svg/5.svg
                        small Управление домашним кинотеатром
                    div.item#service25
                        include ../../../images/svg/10.svg
                        small Система мультирум
                    div.item#service26
                        include ../../../images/svg/7.svg
                        small Управление экранами и проекторами
                    div.item#service27
                        include ../../../images/svg/6.svg
                        small Управление аудио и видео контентом
                    div.item#service28
                        include ../../../images/svg/9.svg
                        small Голосовое управление
            a(href="service.html").service
                div.description
                    div.image
                        img(src="images/7.webp", alt="")
                    div.text
                        h3 Умный дом
                        span Кластер – это гибридная система, позволяющая использовать #[b беспроводные устройства и датчики] от ведущих производителей.
                    div.more
                        small Подробнее
                        div.arrow: include ../../../images/arrow.svg
                div.list
                    div.item#service29
                        include ../../../images/svg/4.svg
                        small Беспроводные датчики и исполнительные устройства
                    div.item#service30
                        include ../../../images/svg/1.svg
                        small Беспроводные элементы управления
                    div.item#service31
                        include ../../../images/svg/2.svg
                        small Умный #[br]ИК пульт
                    div.item#service32
                        include ../../../images/svg/3.svg
                        small Беспроводные терморегуляторы