section.what
    div.container
        div.text
            h2 Что такое #[br]#[span умный дом?]
            span.observe.aft Система умного дома делает жилище намного #[b безопаснее], а жизнь домочадцев комфортнее. #[b Специальные датчики предупредят об утечках газа или взломе] квартиры, а тандем из смарт-лампочки и умных штор разбудит владельца нежнее, чем будильник.

    div.image
        div.sticky
            img(src="images/plan.webp", alt="")
            div.tags
                small.tag Включай освещение
                small.tag Открывай шторы и жалюзи
                small.tag Контролируй датчики
                small.tag Управляй теплым полом
                small.tag Просматривай камеры
                small.tag Управляй музыкой и ТВ