section.content
    div.container

        h2 Проектирование #[span под ключ.]

        p Вносим правки в проект #[b на всех стадиях работ], в том числе финализируем документацию по факту запуска системы умного дома

        ul.list
            li Техническое задание на проектирование
            li Требования к вводу силовых и слаботочных линий в электрический щит
            li Принципиальная схема прокладки кабелей к оконечному оборудованию, датчикам и актуаторам
            li Принципиальная схема размещения оборудования в щите автоматизации
            li Пояснительная записка к проекту с описанием функционала
            li Схема подключения модулей и элементов системы умного дома
            li Спецификация оборудования и кабельный журнал
            li Таблица расключения силовых кабелей по клемным колодкам (исполнительная документация)
            li Поканальная таблица подключения оборудования автоматизации (исполнительная документация)

        a.download
            img(src="images/download.svg", alt="")
            span Скачать пример проекта
            small PDF, 2.3 Мб
