section.integration
    div.container

        h2 Интегрированные #[br]#[span решения.]

        div.tabs

            div.swiper.tabs_captions
                div.swiper-wrapper
                    div.swiper-slide Освещение
                    div.swiper-slide Климат
                    div.swiper-slide Безопасность
                    div.swiper-slide Устройства
                    div.swiper-slide Управление

            div.swiper.tabs_contents
                div.swiper-wrapper
                    div.swiper-slide
                        img(src="images/office/1.webp", alt="")
                        div.text.observe.afl
                            strong Элементы УД
                            ul.list
                                li Управление освещением вкл/выкл
                                li Управление яркостью освещения
                                li Управление яркостью освещения
                                li Управление светодиодной подсветкой
                                li RGB подсветка
                                li Датчик движения скрытый белый
                    div.swiper-slide
                        img(src="images/office/2.webp", alt="")
                        div.text.observe.afl
                            strong Элементы УД
                            ul.list
                                li Управление радиатором/конвектором + ДТ
                                li Управление кондиционером через ИК
                    div.swiper-slide
                        img(src="images/office/3.webp", alt="")
                        div.text.observe.afl
                            strong Элементы УД
                            ul.list
                                li Датчик дыма
                                li Датчик протечки
                    div.swiper-slide
                        img(src="images/office/4.webp", alt="")
                        div.text.observe.afl
                            strong Элементы УД
                            ul.list
                                li Управление шторами
                                li Управление розетками
                    div.swiper-slide
                        img(src="images/articles/5.webp", alt="")
                        div.text.observe.afl
                            strong Элементы УД
                            ul.list
                                li Управление с клавиши выключателя
                                li Сенсорная панель управления
                                li Голосовое управление Алиса