section.support
    div.container

        h2 Поддержка #[br]#[span и обучение.]

        div.tabs

            div.swiper.tabs_captions
                div.swiper-wrapper
                    div.swiper-slide Подряд
                    div.swiper-slide Поставка оборудования
                    div.swiper-slide Индивидуальный подход

            div.swiper.tabs_contents
                div.swiper-wrapper
                    div.swiper-slide
                        img(src="images/office/4.webp", alt="")
                        div.text
                            strong Подряд
                            span #[b Проект:] разрабатываем и согласовываем с заказчиком
                            span #[b СМР:] собираем щит, устанавливаем и подключаем датчики
                            span #[b ПНР:] настраиваем сценарии, запускаем систему
                            span: b Передаем заказчику доступы в стандартное приложение
                    div.swiper-slide
                        img(src="images/office/3.webp", alt="")
                        div.text
                            strong Поставка оборудования
                            span #[b Оборудование:] Мы сделаем проект, подберем необходимое оборудование и доставим его на объект
                            span #[b Обучение:] Бесплатно обучим ваших специалистов монтажу и настройке системы умного дома Кластер
                            span #[b СМР и ПНР:] Проводятся силами ваших
                    div.swiper-slide
                        img(src="images/office/2.webp", alt="")
                        div.text
                            strong Индивидуальный подход
                            span #[b Кастомизированное приложение:] Разрабатывается индивидуально под заказчика в его фирменном стиле
                            span #[b Индивидуальный подход:] Проработка нестандартных задач и запросов любой сложности
                            span #[b СМР и ПНР:] Могут быть выполнены как силами заказчика так и с нашей помощью