section.stages
    div.container

        h2 Этапы #[span работы.]

        div.tabs

            div.swiper.tabs_captions
                div.swiper-wrapper
                    div.swiper-slide Проектирование
                    div.swiper-slide Инженерные сети
                    div.swiper-slide Монтаж
                    div.swiper-slide Настройка
                    div.swiper-slide Сценарии

            div.swiper.tabs_contents
                div.swiper-wrapper
                    div.swiper-slide
                        div.row
                            img(src="images/9.webp", alt="")
                            div.text
                                strong Проектирование
                                span Для прокладки силовых и слаботочных линий создан #[b подробный проект с указанием необходимых маркировок] и комментариев. Для внешних элементов (датчики движения, камеры видеонаблюдения) указаны привязки.
                    div.swiper-slide
                        div.row
                            img(src="images/9.webp", alt="")
                            div.text
                                strong Инженерные сети
                                span Работы по прокладке кабеля выполняла бригада рабочих с объекта, но #[b все работы курировал и контролировал инженер компании Кластер]. Все кабели были приняты по проекту и проверены как в местах вывода, так и в щите Умного дома.
                    div.swiper-slide
                        div.row
                            img(src="images/18.webp", alt="")
                            div.text
                                strong Монтаж
                                span Всё оборудование умного дома #[b смонтировано в отдельном щите рядом с силовым]. Оборудование размещено компактно и в то же время #[b легко обслуживается] за счет модульной системы.
                    div.swiper-slide
                        div.row
                            img(src="images/15.webp", alt="")
                            div.text
                                strong Настройка
                                span Настройка всех функций и сценариев проводилась в несколько этапов: первый на стадии запуска системы, второй при переезде хозяев, а третий – финальный – уже спустя месяц после переезда, #[b когда у хозяев появились дополнительные идеи и пожелания.]
                    div.swiper-slide
                        div.row
                            img(src="images/articles/1.webp", alt="")
                            div.text
                                strong Сценарии
                                span Среди основных сценариев #[b можно выделить «Доброе утро»] по которому заранее включаются теплые полы, #[b по расписанию открывают шторы] в спальных комнатах и #[b плавно включается свет]. По сценарию «Я пришел» датчики движения переходят с охранного режима в обычный – на освещение, включается свет в коридоре, но камеры продолжают работать, деактивировать их могут только родители через приложение.