section.main
    div.container

        div.preview
            img(src="images/apartments/4.webp", alt="")

        div.intro
            div.text
                div.title
                    h1.light Предложение по установке #[span умного дома Кластер ]для Олега Алексеевича
                span.observe.aft Загородный дом, Московская область