include ../../common/_mixins.pug

section.other
    div.container

        h2.light #[span Другие] статьи.

        div.list
            +article('images/articles/13.webp', 'Зачем мне умный дом?')
            +article('images/articles/2.webp', 'Дизайнерам об освещении в системе умного дома')
            +article('images/articles/12.webp', 'Про Алису')
            +article('images/articles/3.webp', 'Видеокамеры и личное пространство')