section.contacts
    div.container

        h1 Контактные #[br] #[span данные]

        div.tabs

            div.swiper.tabs_captions
                div.swiper-wrapper
                    div.swiper-slide Офис в Москве
                    div.swiper-slide Офис в Санкт-Петербурге
                    div.swiper-slide Шоурум

            div.swiper.tabs_contents
                div.swiper-wrapper
                    div(data-hash="moscow", data-coordinate="[55.802750, 37.584604]").swiper-slide.observe.loop.afr
                        div.adress
                            small Адрес:
                            h3 г. Москва, ул. Б. Новодмитровская 23, стр. 6
                        div.row
                            div.phone
                                small Телефон:
                                a(href="tel:74992830250"): h3 +7 (499) 283-02-50
                            div.phone
                                small E-mail:
                                a(href="mailto:hello@clustersystem.ru"): h3 hello@clustersystem.ru
                        div.note
                            small Обязательно #[b приходите к нам на чашку ароматного кофе.] Совместно обсудим ваш проект, #[b продемонстрируем работу системы] умного дома Кластер в нашем шоуруме! Если нужно, проконсультируем по #[b Skype, телефону или почте] – просто напишите нам сообщение и укажите предпочтительный способ для связи.
                        button.light
                            span Написать нам
                            div.borders
                                div
                                div
                                div
                                div
                    div(data-hash="petersburg", data-coordinate="[59.989454, 30.370261]").swiper-slide.observe.loop.afr
                        div.adress
                            small Адрес:
                            h3 г. Санкт-Петербург, Кушелевская дорога, 12
                        div.row
                            div.phone
                                small Телефон:
                                a(href="tel:78126491648"): h3 +7 (812) 649-16-48
                            div.phone
                                small E-mail:
                                a(href="mailto:spb@clustersystem.ru"): h3 spb@clustersystem.ru
                        div.note
                            small Обязательно #[b приходите к нам на чашку ароматного кофе.] Совместно обсудим ваш проект, #[b продемонстрируем работу системы] умного дома Кластер в нашем шоуруме! Если нужно, проконсультируем по #[b Skype, телефону или почте] – просто напишите нам сообщение и укажите предпочтительный способ для связи.
                        button.light
                            span Написать нам
                            div.borders
                                div
                                div
                                div
                                div
                    div(data-hash="showroom", data-coordinate="[55.790529, 37.569063]").swiper-slide.observe.loop.afr
                        div.adress
                            small Адрес:
                            h3 г. Москва, Ленинградский проспект, 36 с.40, #[br]ЖК ВТБ Арена Парк
                        div.row
                            div.phone
                                small Телефон:
                                a(href="tel:74992830250"): h3 +7 (499) 283-02-50
                            div.phone
                                small E-mail:
                                a(href="mailto:hello@clustersystem.ru"): h3 hello@clustersystem.ru
                        div.note
                            small Обязательно #[b приходите к нам на чашку ароматного кофе.] Совместно обсудим ваш проект, #[b продемонстрируем работу системы] умного дома Кластер в нашем шоуруме! Если нужно, проконсультируем по #[b Skype, телефону или почте] – просто напишите нам сообщение и укажите предпочтительный способ для связи.
                        button.light
                            span Написать нам
                            div.borders
                                div
                                div
                                div
                                div
                            