section.subservices
    div.container

        div.text
            h2 Возможности #[br]#[span освещения.]
            span.observe.aft Модули управления освещением умного дома #[b повышают уровень комфорта] жильцов и #[b функциональность пространства]. Система #[b регулирует интенсивность света, период работы светильников, автоматически включает подсветку при движении], а так же имеет множество дополнительных функций.

        div.grid
            a(href="subservice.html").item
                img(src="images/features/1.webp", alt="")
                h3(style="background: linear-gradient(90deg, #406eb4 0%, #5e3b89 100%)") Управление #[br]классическим #[br]освещением
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/2.webp", alt="")
                h3(style="background: linear-gradient(90deg, #6d597c 0%, #5978c8 100%)") Управление #[br]цветной подсветкой
                div.note
                    span Используйте в интерьере RGB подсветки, чтобы создавать #[b любые цветовые решения для формирования настроения] в комнате. Выбрать нужный цвет можно в один клик при помощи мобильного приложения.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/3.webp", alt="")
                h3(style="background: linear-gradient(90deg, #bb7787 0%, #918ae0 100%)") Управление #[br]яркостью и теплотой
                div.note
                    span Система управления освещением Кластер #[b позволяет изменять яркость источников света и теплоту] их свечения в течение дня, подстраиваясь под Ваши предпочтения.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item.gradient
                img(src="images/features/4.webp", alt="")
                h3(style="background: linear-gradient(90deg, #b68145 0%, #ba2c2c 100%)") Сценарное #[br]освещение
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/5.webp", alt="")
                h3(style="background: linear-gradient(90deg, #655f8a 0%, #4274c0 100%)") Используйте #[br]обычные #[br]выключатели
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/6.webp", alt="")
                h3(style="background: linear-gradient(90deg, #ad9f90 0%, #b1856d 100%)") Автоматическое освещение #[br]проходных зон
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/7.webp", alt="")
                h3(style="background: linear-gradient(90deg, #aea7d8 0%, #d6a4de 100%)") Умные #[br]светодиодные ленты
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/10.webp", alt="")
                h3(style="background: linear-gradient(90deg, #c3976e 0%, #c06042 100%)") Управление #[br]освещением #[br]Dali
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/9.webp", alt="")
                h3(style="background: linear-gradient(90deg, #ede1d0 0%, #edc9b4 100%)") Умные #[br]выключатели #[br]света
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item
                img(src="images/features/8.webp", alt="")
                h3(style="background: linear-gradient(90deg, #96c8c9 0%, #0e608f 100%)") Астроно­мический #[br]датчик
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg
            a(href="subservice.html").item.gradient
                img(src="images/features/11.webp", alt="")
                h3(style="background: linear-gradient(90deg, #a76b48 0%, #e7a891 100%)") Диммирование #[br]Push Dim
                div.note
                    span Светодиодная подсветка, классические люстры на 220В и светодиодные светильники - для системы Кластер #[b нет никаких ограничений по источникам света], которыми Вы сможете управлять через обычные выключатели или через мобильное приложение.
                div.more
                    small Подробнее
                    div.arrow: include ../../../images/arrow.svg