include ../../common/_mixins.pug

section.articles
    div.container
        h1 Важно #[span знать.]

        div.list
            +article('images/articles/1.webp', 'Зачем мне умный дом?')
            +article('images/articles/2.webp', 'Дизайнерам об освещении в системе умного дома')
            +article('images/articles/3.webp', 'Про Алису')
            +article('images/articles/4.webp', 'Видеокамеры и личное пространство')
            +article('images/articles/5.webp', 'Этапы работ')
            +article('images/articles/6.webp', 'Что входит в стоимость умного дома КЛАСТЕР?')
            +article('images/articles/7.webp', 'Сферы управления и автоматизации')
            +article('images/articles/8.webp', 'Как формируется цена на Умный Дом Кластер?')
            +article('images/articles/9.webp', 'Почему умный дом от КЛАСТЕР?')
            +article('images/articles/10.webp', 'Что такое умный дом?')
            +article('images/articles/11.webp', 'Система КЛАСТЕР в программе Квартирный вопрос')
            +article('images/articles/12.webp', 'Беспроводной Умный дом - миф или реальность?')
            +article('images/articles/13.webp', 'Система КЛАСТЕР - новинка на рынке Умных домов')