section.what
    padding-top: var(--section-gap)
    padding-bottom: var(--section-gap)

    div.container
        display: grid
        grid-gap: var(--big-gap)

    div.text
        display: grid
        grid-gap: var(--medium-gap)

    div.image
        margin-top: var(--big-gap)
        grid-column: full
        display: grid
        grid-template-columns: [full-start] var(--full) [breakout-start] var(--breakout) [content-start] var(--content) [content-end] var(--breakout) [breakout-end] var(--full) [full-end]
        z-index: 9
        aspect-ratio: 960 / 1400
        +screen(s)
            aspect-ratio: 960 / 2100
        div.scroll
            position: relative
            grid-column: content

            img
                display: block
                // border: 1px solid red
                position: sticky
                top: 15vh
                margin-left: 50%
                height: 70vh
                max-width: unset
                aspect-ratio: 960 / 732
                transform: translateX(-50%)
                object-fit: contain
                object-position: center center
                +screen(s)
                    max-width: unset
                    min-height: 500px

            div.tags
                // border: 1px solid green
                position: sticky
                margin-top: calc( -732% / (960 / 100) )
                top: 15vh
                margin-left: 50%
                height: 70vh
                aspect-ratio: 960 / 732
                max-width: unset
                transform: translateX(-50%)
                opacity: 0
                transition: all .2s
                +screen(m)
                    width: 100%
                    max-width: 100%
                    margin-top: -100vh

                small
                    position: absolute
                    display: block
                    width: max-content
                    border-radius: 999px
                    padding: 10px 20px
                    background: linear-gradient(90deg, #06f 0%, #7000ff 100%)
                    color: white
                    opacity: 0
                    transition: all .5s
                    &.show
                        opacity: 1

                    &:nth-child(1)
                        top: 30%
                        left: 25%
                        +screen(s)
                            left: 5%
                        
                    &:nth-child(2)
                        top: 15%
                        right: 20%
                        +screen(s)
                            right: 5%

                    &:nth-child(3)
                        top: 50%
                        left: 10%
                        +screen(m)
                            top: 40%

                    &:nth-child(4)
                        top: 60%
                        right: 35%

                    &:nth-child(5)
                        top: 75%
                        left: 20%
                    &:nth-child(6)
                        top: 45%
                        right: 15%

        &.show
            div.scroll
                div.tags
                    opacity: 1